/* # reset*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(17, 17, 17);
}
form {
  border: 1px solid rgb(95, 95, 95);
  border-radius: 20px;
  padding: 20px;
}
.text-costum {
  color: rgb(43, 187, 39);
}
